# Import

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(123)

# numpy.random

## np.random.choice

In [5]:
# selects random options from a list

np.random.choice(['h','t'])

'h'

In [76]:
# selects random options from a list, where p=[,] is the odds for each entry in the list

np.random.choice(['h','t'], p=[0.5,0.5],size=(10**2,5))

array([['t', 't', 't', 't', 'h'],
       ['t', 't', 't', 't', 'h'],
       ['h', 't', 't', 'h', 't'],
       ['h', 't', 'h', 't', 't'],
       ['t', 'h', 'h', 'h', 'h'],
       ['t', 'h', 'h', 'h', 'h'],
       ['t', 't', 't', 'h', 't'],
       ['h', 'h', 'h', 'h', 'h'],
       ['t', 'h', 'h', 'h', 't'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 't', 'h', 't', 'h'],
       ['h', 'h', 'h', 't', 't'],
       ['h', 't', 't', 't', 'h'],
       ['h', 't', 'h', 'h', 't'],
       ['t', 'h', 'h', 'h', 't'],
       ['h', 'h', 't', 'h', 't'],
       ['h', 'h', 't', 't', 'h'],
       ['t', 't', 'h', 'h', 'h'],
       ['t', 'h', 't', 'h', 't'],
       ['t', 'h', 'h', 'h', 'h'],
       ['t', 't', 'h', 't', 'h'],
       ['t', 't', 't', 'h', 't'],
       ['h', 'h', 'h', 't', 't'],
       ['t', 't', 'h', 't', 't'],
       ['t', 't', 'h', 'h', 'h'],
       ['t', 't', 'h', 't', 't'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 'h', 'h', 't', 't'],
       ['h', 't', 'h', 't', 'h'],
       ['t', 'h', 't', 'h', 't'],
       ['h', 'h', 't', 't', 'h'],
       ['t', 't', 'h', 't', 'h'],
       ['t', 'h', 'h', 'h', 'h'],
       ['h', 't', 'h', 'h', 't'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 't', 't', 'h', 't'],
       ['t', 'h', 't', 't', 'h'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 'h', 't', 'h'],
       ['t', 'h', 't', 't', 't'],
       ['h', 'h', 't', 'h', 't'],
       ['t', 't', 'h', 'h', 't'],
       ['h', 'h', 't', 'h', 't'],
       ['t', 't', 'h', 'h', 'h'],
       ['h', 't', 'h', 'h', 't'],
       ['h', 't', 'h', 't', 't'],
       ['h', 'h', 't', 't', 't'],
       ['t', 't', 't', 't', 't'],
       ['t', 'h', 'h', 'h', 't'],
       ['t', 't', 'h', 't', 'h'],
       ['t', 't', 'h', 't', 'h'],
       ['h', 't', 't', 't', 'h'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 'h', 'h', 't'],
       ['t', 'h', 't', 't', 't'],
       ['t', 't', 'h', 't', 'h'],
       ['t', 't', 'h', 't', 't'],
       ['t', 't', 'h', 'h', 't'],
       ['t', 'h', 'h', 'h', 't'],
       ['t', 'h', 'h', 't', 't'],
       ['h', 'h', 'h', 't', 'h'],
       ['h', 't', 't', 'h', 't'],
       ['h', 'h', 't', 't', 't'],
       ['h', 't', 't', 'h', 'h'],
       ['h', 't', 't', 't', 't'],
       ['t', 't', 't', 't', 't'],
       ['h', 'h', 't', 't', 'h'],
       ['t', 't', 'h', 'h', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 't', 't', 'h', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['t', 'h', 't', 't', 'h'],
       ['h', 't', 'h', 'h', 't'],
       ['h', 't', 't', 'h', 't'],
       ['t', 'h', 't', 't', 'h'],
       ['t', 't', 'h', 't', 'h'],
       ['h', 't', 't', 't', 'h'],
       ['t', 't', 't', 'h', 't'],
       ['t', 't', 'h', 'h', 'h'],
       ['h', 'h', 't', 't', 'h'],
       ['t', 'h', 't', 'h', 't'],
       ['t', 't', 't', 't', 't'],
       ['h', 't', 'h', 't', 't'],
       ['t', 'h', 'h', 'h', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 't', 'h', 'h'],
       ['t', 't', 'h', 't', 't'],
       ['t', 'h', 't', 'h', 'h'],
       ['h', 'h', 'h', 'h', 'h'],
       ['h', 't', 't', 'h', 't'],
       ['h', 'h', 'h', 't', 't'],
       ['t', 't', 'h', 'h', 'h'],
       ['h', 't', 'h', 't', 'h'],
       ['t', 'h', 't', 't', 'h'],
       ['h', 'h', 't', 't', 'h'],
       ['h', 't', 'h', 't', 't'],
       ['t', 't', 't', 'h', 'h'],
       ['t', 't', 't', 'h', 'h'],
       ['h', 'h', 't', 'h', 'h'],
       ['t', 'h', 't', 't', 'h']], dtype='<U1')

## np.random.uniform

In [6]:
# generates numbers between a given lower and upper bound

np.random.uniform(89,115)

107.53683833360391

## np.random.random

In [7]:
# generates numbers between 0 and 1

# np.random.random()
np.random.rand()

0.4284709261868257

## np.random.randn

In [8]:
# generates numbers from the standard normal distribution

np.random.randn()

1.1108714734285123

## np.random.normal

In [9]:
# generates numbers from a normal distribution with a specified mean and standard deviation

mean=8
std_dev=0.75
np.random.normal(mean, std_dev)

8.725695551180559

## p.random.randint

In [10]:
np.random.randint(1, 366)

107

# Exercises

## 1

In [11]:
rolls = pd.DataFrame(np.random.randint(1, 7, size=(10000, 2)))
rolls.head()

   0  1
0  4  2
1  2  1
2  2  2
3  1  1
4  2  4

How likely is it that you roll doubles when rolling two dice?

In [12]:
doubles = rolls.apply(lambda row: row.values[0]==row.values[1], axis=1)
doubles.mean()

0.1669

## 2

In [13]:
rolls = pd.DataFrame(np.random.randint(2, size=(10000, 8)))
rolls.sample(10)

      0  1  2  3  4  5  6  7
5188  1  0  0  1  0  1  1  1
5068  0  0  1  0  1  1  1  0
8654  1  0  1  1  0  1  1  0
2741  0  0  1  1  1  1  1  0
9154  0  1  0  0  1  1  1  1
8362  1  0  0  1  0  0  0  1
8237  1  0  0  1  1  1  1  1
5930  0  0  1  1  0  1  1  1
5702  0  1  0  0  0  0  0  0
7531  0  0  1  0  0  0  0  1

3 heads

In [14]:
(rolls.sum(axis=1)==3).mean()

0.2199

\> 3 heads

In [15]:
(rolls.sum(axis=1)>3).mean()

0.6351

## 3

In [16]:
boards = pd.DataFrame(np.random.choice(['data', 'web', 'web', 'web'], size=(10000, 2)))
boards.head()

      0     1
0  data  data
1   web   web
2   web  data
3   web   web
4   web  data

What are the odds that the two billboards I drive past both have data science students on them?

In [17]:
is_a_data_board=boards.apply(lambda row: row.values[0]==row.values[1]=='data', axis=1)
is_a_data_board.mean()

0.0661

## 4

How likely is it that I will be able to buy some poptarts on Friday afternoon?

In [18]:
tarts = pd.DataFrame(np.random.normal(3,1.5, size=(10000, 5)))
tarts.head()

          0         1         2         3         4
0  1.047128  5.167355  3.400010  3.498455  0.107533
1  5.423077  3.485334  3.216872  1.401113  3.853004
2  1.958745 -2.758175  1.986947  3.584154  6.620715
3  4.668220  5.168613  4.761459  1.717700  3.485397
4  2.203692  3.020715  0.496849  3.624205  2.798412

In [19]:
(tarts.sum(axis=1)<17).mean()

0.7301

## 5

In [20]:
men = pd.DataFrame(np.random.normal(178,8, size=(10000)))
men.head()

            0
0  182.203512
1  176.970124
2  186.269974
3  187.560530
4  175.258669

In [21]:
women = pd.DataFrame(np.random.normal(170,6,size=(10000)))
women.head()

            0
0  173.484817
1  176.250787
2  163.389303
3  184.940578
4  161.779060

If a man and woman are chosen at random, P(woman taller than man)?

In [22]:
taller = women>men
taller.mean()

0    0.2072
dtype: float64

## 6

In [23]:
installs_50 = pd.DataFrame(np.random.random(size=(50)))
installs_50.head()

          0
0  0.550622
1  0.768043
2  0.359842
3  0.773509
4  0.077631

What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [24]:
(installs_50>(1/250)).mean()

0    1.0
dtype: float64

In [25]:
installs_100 = pd.DataFrame(np.random.random(size=(150)))
installs_100.head()

          0
0  0.444845
1  0.308506
2  0.909057
3  0.138227
4  0.258542

What are the odds that after having 100 students download anaconda, no one has an installation issue?

In [26]:
(installs_100>(1/250)).mean()

0    1.0
dtype: float64

In [27]:
installs_150 = pd.DataFrame(np.random.random(size=(150)))
installs_150.head()

          0
0  0.092808
1  0.023350
2  0.630265
3  0.886859
4  0.087798

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [28]:
(installs_150<=(1/250)).mean()

0    0.0
dtype: float64

In [29]:
installs_450 = pd.DataFrame(np.random.random(size=(450)))
installs_450.head()

          0
0  0.904617
1  0.509036
2  0.527162
3  0.584054
4  0.048604

How likely is it that 450 students all download anaconda without an issue?

In [30]:
(installs_450>(1/250)).mean()

0    0.997778
dtype: float64

## 7

In [31]:
# trucks = pd.DataFrame(np.random.random(size=(10**10)))
# trucks.head()

# this frame took 1m 27.5s to run

In [32]:
trucks = pd.DataFrame(np.random.rand(10**5,3))
trucks.head()

          0         1         2
0  0.895353  0.508628  0.598777
1  0.004275  0.058872  0.261977
2  0.574490  0.888123  0.707982
3  0.460742  0.768879  0.153253
4  0.902612  0.142342  0.569651

You haven't seen a food truck there in 3 days. How unlikely is this?

In [33]:
((trucks>0.7).sum(axis=1)==3).mean()

0.02702

In [34]:
trucks = pd.DataFrame(np.random.rand(10**5,4))
trucks.head()

          0         1         2         3
0  0.117263  0.940327  0.351877  0.854140
1  0.334025  0.857107  0.981989  0.728698
2  0.472680  0.231836  0.442663  0.349753
3  0.231112  0.131578  0.345388  0.964647
4  0.076268  0.173029  0.452442  0.028623

How likely is it that a food truck will show up sometime this week?

In [35]:
((trucks>0.7).sum(axis=1)>1).mean()

0.34813

## 8

In [64]:

def bdays(people):
	bdays=pd.DataFrame(np.random.randint(1,365,size=(10**4,people)))
	chance=((people-(bdays.nunique(axis=1)))!=0).mean()
	return chance

23 people are in the same room, what are the odds that two of them share a birthday?

In [65]:
bdays(23)

0.5165

What if it's 20 people?

In [66]:
bdays(20)

0.4091

40?

In [67]:
bdays(40)

0.8963

## Mage Duel!

In [68]:
battles=10**4

# 10**1 rds: life = 19, hits = -4
# 10**2 rds: life = 33, hits = -1
# 10**4 rds: life = 319, hits = 109
# i don't see a clear winner

In [69]:
me_mage_hit = pd.DataFrame(np.random.randint(1,4, size=(battles,6)))
me_mage_hit.head()

   0  1  2  3  4  5
0  2  3  1  3  1  3
1  1  1  1  2  1  1
2  3  3  2  1  1  3
3  1  2  3  1  2  1
4  1  3  3  3  3  2

In [70]:
me_mage_life = pd.DataFrame(np.random.randint(1,4, size=(battles,6)))
me_mage_life.head()

   0  1  2  3  4  5
0  2  1  3  1  2  1
1  3  1  3  2  3  3
2  3  3  1  2  3  1
3  3  3  1  3  3  3
4  2  1  3  2  2  1

In [71]:
me_mage_hit.sum(axis=1).sum()

119586

In [72]:
you_mage_hit=pd.DataFrame(np.random.randint(1,6, size=(battles,4)))
you_mage_hit.head()

   0  1  2  3
0  2  5  2  4
1  4  3  5  4
2  5  5  2  3
3  3  1  2  5
4  3  4  4  5

In [73]:
you_mage_life=pd.DataFrame(np.random.randint(1,6, size=(battles,4)))
you_mage_life.head()

   0  1  2  3
0  2  3  3  2
1  5  5  1  4
2  1  2  3  4
3  2  2  1  4
4  1  4  5  5

In [74]:
lifes=you_mage_hit.sum(axis=1).sum()-me_mage_life.sum(axis=1).sum()
lifes

-494

In [75]:
hits=me_mage_hit.sum(axis=1).sum()-you_mage_life.sum(axis=1).sum()
hits

-480