# Import

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(123)

# 1

In [38]:
rolls = pd.DataFrame(np.random.randint(1, 7, size=(10000, 2)))
rolls.head()

   0  1
0  6  3
1  5  3
2  2  4
3  3  4
4  2  2

How likely is it that you roll doubles when rolling two dice?

In [39]:
doubles = rolls.apply(lambda row: row.values[0]==row.values[1], axis=1)
doubles.mean()

0.1631

# 2

In [40]:
rolls = pd.DataFrame(np.random.randint(2, size=(10000, 8)))
rolls.sample(10)

      0  1  2  3  4  5  6  7
5781  0  1  1  1  0  0  1  1
8287  0  0  0  1  0  1  0  1
4322  1  1  0  0  1  1  0  0
3744  1  1  1  0  0  0  0  0
7079  1  0  0  1  1  1  0  1
8275  1  0  0  0  0  1  0  1
7298  0  1  1  1  1  1  0  1
1497  0  1  0  1  1  0  1  1
1250  0  1  0  1  1  1  1  0
2303  1  0  1  0  0  1  0  1

3 heads

In [41]:
(rolls.sum(axis=1)==3).mean()

0.2282

\> 3 heads

In [42]:
(rolls.sum(axis=1)>3).mean()

0.6317

# 3

In [43]:
boards = pd.DataFrame(np.random.choice(['data', 'web', 'web', 'web'], size=(10000, 2)))
boards.head()

      0     1
0  data  data
1   web   web
2   web  data
3   web  data
4   web   web

What are the odds that the two billboards I drive past both have data science students on them?

In [44]:
is_a_data_board=boards.apply(lambda row: row.values[0]==row.values[1]=='data', axis=1)
is_a_data_board.mean()

0.0662

# 4

How likely is it that I will be able to buy some poptarts on Friday afternoon?

In [45]:
tarts = pd.DataFrame(np.random.normal(3,1.5, size=(10000, 5)))
tarts.head()

          0         1         2         3         4
0  3.631213  3.437176  4.825051  4.688748  1.047128
1  5.167355  3.400010  3.498455  0.107533  5.423077
2  3.485334  3.216872  1.401113  3.853004  1.958745
3 -2.758175  1.986947  3.584154  6.620715  4.668220
4  5.168613  4.761459  1.717700  3.485397  2.203692

In [46]:
(tarts.sum(axis=1)<17).mean()

0.7302

# 5

In [47]:
men = pd.DataFrame(np.random.normal(178,8, size=(10000)))
men.head()

            0
0  192.552261
1  180.942024
2  176.070734
3  176.757064
4  182.203512

In [48]:
women = pd.DataFrame(np.random.normal(170,6,size=(10000)))
women.head()

            0
0  179.088889
1  173.013740
2  174.583119
3  165.542974
4  173.484817

If a man and woman are chosen at random, P(woman taller than man)?

In [49]:
taller = women>men
taller.mean()

0    0.2071
dtype: float64

# 6

In [50]:
installs_50 = pd.DataFrame(np.random.random(size=(50)))
installs_50.head()

          0
0  0.623015
1  0.496237
2  0.092501
3  0.252267
4  0.550622

What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [51]:
(installs_50>(1/250)).mean()

0    1.0
dtype: float64

In [52]:
installs_100 = pd.DataFrame(np.random.random(size=(150)))
installs_100.head()

          0
0  0.898202
1  0.844271
2  0.820072
3  0.063295
4  0.444845

What are the odds that after having 100 students download anaconda, no one has an installation issue?

In [53]:
(installs_100>(1/250)).mean()

0    1.0
dtype: float64

In [54]:
installs_150 = pd.DataFrame(np.random.random(size=(150)))
installs_150.head()

          0
0  0.162982
1  0.212607
2  0.243371
3  0.711044
4  0.092808

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [55]:
(installs_150<=(1/250)).mean()

0    0.0
dtype: float64

In [56]:
installs_450 = pd.DataFrame(np.random.random(size=(450)))
installs_450.head()

          0
0  0.099974
1  0.361802
2  0.100093
3  0.514143
4  0.904617

How likely is it that 450 students all download anaconda without an issue?

In [60]:
(installs_450>(1/250)).mean()

0    0.997778
dtype: float64

# 7

In [58]:
# trucks = pd.DataFrame(np.random.random(size=(10**10)))
# trucks.head()

# this frame took 1m 27.5s to run

In [59]:
trucks = pd.DataFrame(np.random.random(size=(10**5)))
trucks.head()

          0
0  0.917097
1  0.783788
2  0.054427
3  0.602249
4  0.895353