# Import

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(123)

# numpy.random

## np.random.choice

In [26]:
# selects random options from a list

np.random.choice(['h','t'])

'h'

## np.random.uniform

In [27]:
# generates numbers between a given lower and upper bound

np.random.uniform(89,115)

107.53683833360391

## np.random.random

In [28]:
# generates numbers between 0 and 1

np.random.random()

0.4284709261868257

## np.random.randn

In [29]:
# generates numbers from the standard normal distribution

np.random.randn()

1.1108714734285123

## np.random.normal

In [30]:
# generates numbers from a normal distribution with a specified mean and standard deviation

mean=8
std_dev=0.75
np.random.normal(mean, std_dev)

8.725695551180559

# Exercises

## 1

In [31]:
rolls = pd.DataFrame(np.random.randint(1, 7, size=(10000, 2)))
rolls.head()

   0  1
0  3  4
1  2  2
2  1  2
3  2  1
4  1  2

How likely is it that you roll doubles when rolling two dice?

In [32]:
doubles = rolls.apply(lambda row: row.values[0]==row.values[1], axis=1)
doubles.mean()

0.1631

## 2

In [33]:
rolls = pd.DataFrame(np.random.randint(2, size=(10000, 8)))
rolls.sample(10)

      0  1  2  3  4  5  6  7
4875  1  0  0  0  1  0  1  1
2817  0  0  0  0  1  0  1  0
6608  0  1  1  0  0  0  0  1
4849  0  1  0  1  1  1  0  0
5700  0  1  0  1  0  1  1  1
661   0  0  0  0  1  1  1  0
7638  0  0  1  1  0  1  0  1
4667  1  1  0  0  1  1  1  1
7085  0  1  0  1  1  1  0  1
6319  1  0  1  1  1  1  1  0

3 heads

In [34]:
(rolls.sum(axis=1)==3).mean()

0.2281

\> 3 heads

In [35]:
(rolls.sum(axis=1)>3).mean()

0.6318

## 3

In [36]:
boards = pd.DataFrame(np.random.choice(['data', 'web', 'web', 'web'], size=(10000, 2)))
boards.head()

      0     1
0   web  data
1   web  data
2  data   web
3   web   web
4  data   web

What are the odds that the two billboards I drive past both have data science students on them?

In [37]:
is_a_data_board=boards.apply(lambda row: row.values[0]==row.values[1]=='data', axis=1)
is_a_data_board.mean()

0.0611

## 4

How likely is it that I will be able to buy some poptarts on Friday afternoon?

In [38]:
tarts = pd.DataFrame(np.random.normal(3,1.5, size=(10000, 5)))
tarts.head()

          0         1         2         3         4
0  2.118773  2.435233 -0.169253  4.153114  4.619150
1  2.204919  0.209921  2.897401  3.372730  5.766897
2  4.294334  3.583534  4.915124  0.761803  4.888378
3  3.384920  2.431073  2.179946  3.255704  3.716975
4  2.777964  2.150354  0.621022  3.797554  1.534941

In [39]:
(tarts.sum(axis=1)<17).mean()

0.7241

## 5

In [40]:
men = pd.DataFrame(np.random.normal(178,8, size=(10000)))
men.head()

            0
0  162.758443
1  166.333892
2  185.037007
3  173.540628
4  172.657455

In [41]:
women = pd.DataFrame(np.random.normal(170,6,size=(10000)))
women.head()

            0
0  166.674783
1  176.041933
2  167.651051
3  167.864907
4  178.171937

If a man and woman are chosen at random, P(woman taller than man)?

In [42]:
taller = women>men
taller.mean()

0    0.2115
dtype: float64

## 6

In [43]:
installs_50 = pd.DataFrame(np.random.random(size=(50)))
installs_50.head()

          0
0  0.439626
1  0.905050
2  0.694002
3  0.564490
4  0.752954

What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [44]:
(installs_50>(1/250)).mean()

0    1.0
dtype: float64

In [45]:
installs_100 = pd.DataFrame(np.random.random(size=(150)))
installs_100.head()

          0
0  0.399697
1  0.532113
2  0.145852
3  0.262381
4  0.142887

What are the odds that after having 100 students download anaconda, no one has an installation issue?

In [46]:
(installs_100>(1/250)).mean()

0    1.0
dtype: float64

In [47]:
installs_150 = pd.DataFrame(np.random.random(size=(150)))
installs_150.head()

          0
0  0.865357
1  0.680422
2  0.864983
3  0.333450
4  0.446602

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [48]:
(installs_150<=(1/250)).mean()

0    0.006667
dtype: float64

In [49]:
installs_450 = pd.DataFrame(np.random.random(size=(450)))
installs_450.head()

          0
0  0.745641
1  0.354359
2  0.246821
3  0.980193
4  0.077207

How likely is it that 450 students all download anaconda without an issue?

In [50]:
(installs_450>(1/250)).mean()

0    0.993333
dtype: float64

## 7

In [51]:
# trucks = pd.DataFrame(np.random.random(size=(10**10)))
# trucks.head()

# this frame took 1m 27.5s to run

In [56]:
trucks = pd.DataFrame(np.random.rand(10**5,3))
trucks.head()

          0         1         2
0  0.550044  0.945130  0.706812
1  0.559587  0.341723  0.273493
2  0.087824  0.449476  0.214701
3  0.434950  0.857399  0.907913
4  0.030463  0.812865  0.661619

You haven't seen a food truck there in 3 days. How unlikely is this?

In [72]:
((trucks>0.7).sum(axis=1)==3).mean()

Object `this` not found.

0.02643

In [99]:
trucks = pd.DataFrame(np.random.rand(10**5,4))
trucks.head()

          0         1         2         3
0  0.347895  0.455919  0.840408  0.443291
1  0.710081  0.479897  0.376098  0.954855
2  0.957995  0.750407  0.544176  0.960343
3  0.376589  0.585055  0.956097  0.097820
4  0.204415  0.369144  0.539930  0.404223

How likely is it that a food truck will show up sometime this week?

In [108]:
((trucks>0.7).sum(axis=1)>1).mean()

0.34868

## 8

In [110]:
bdays = pd.DataFrame(np.random.rand(10**5,23))
bdays.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.548982,0.990969,0.166340,0.115248,0.413780,0.266427,0.945121,0.329557,0.350469,0.389120,...,0.043934,0.069592,0.986825,0.696996,0.617388,0.124326,0.635442,0.552768,0.902259,0.080417
1,0.503664,0.933312,0.784338,0.025373,0.885152,0.422076,0.481915,0.100588,0.704368,0.341346,...,0.038994,0.334978,0.174826,0.860351,0.222248,0.246469,0.692943,0.199527,0.605140,0.256838
2,0.173582,0.410726,0.572199,0.565961,0.778873,0.348091,0.769077,0.348487,0.975974,0.803609,...,0.124208,0.490307,0.948290,0.103259,0.454493,0.413245,0.950904,0.833088,0.947137,0.254927
3,0.197063,0.758345,0.100150,0.368420,0.971026,0.128583,0.896802,0.967660,0.657605,0.142101,...,0.780005,0.614332,0.004218,0.286205,0.797000,0.102725,0.734485,0.831626,0.000186,0.585467
4,0.607261,0.453602,0.503544,0.229715,0.989910,0.709343,0.013225,0.329862,0.618571,0.729107,...,0.338480,0.614861,0.953257,0.191974,0.853066,0.345464,0.288058,0.579141,0.641332,0.855464

23 people are in the same room, what are the odds that two of them share a birthday?

In [116]:
((bdays<=1/365.25).sum(axis=1)>=2).mean()

0.00177

In [117]:
bdays = pd.DataFrame(np.random.rand(10**5,20))
bdays.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.371427,0.225456,0.480866,0.943906,0.903647,0.696103,0.299181,0.272375,0.821033,0.993325,0.221847,0.522526,0.230876,0.589864,0.802387,0.247366,0.641269,0.488471,0.800848,0.308626
1,0.876951,0.022364,0.582739,0.313778,0.814722,0.514585,0.874949,0.638670,0.733030,0.168458,0.751450,0.765610,0.377205,0.731727,0.033777,0.134188,0.995717,0.878287,0.910202,0.795714
2,0.071803,0.705753,0.499203,0.021200,0.034535,0.363437,0.426828,0.143512,0.601730,0.731558,0.703257,0.300220,0.414157,0.224056,0.972760,0.416137,0.150823,0.102560,0.139595,0.609877
3,0.109639,0.791858,0.042887,0.846805,0.961607,0.901542,0.448559,0.148793,0.475464,0.035252,0.855939,0.601018,0.366055,0.718165,0.852719,0.066751,0.896611,0.581383,0.433891,0.924614
4,0.761022,0.655705,0.930347,0.663063,0.717658,0.468689,0.534706,0.270459,0.763346,0.004584,0.590001,0.700003,0.882827,0.975578,0.052804,0.715103,0.461974,0.295392,0.010474,0.613180

What if it's 20 people?

In [118]:
((bdays<=1/365.25).sum(axis=1)>=2).mean()

0.00154

In [119]:
bdays = pd.DataFrame(np.random.rand(10**5,40))
bdays.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.483292,0.345753,0.165155,0.256913,0.528993,0.088132,0.294449,0.652604,0.060428,0.253955,...,0.453448,0.221096,0.709895,0.278356,0.397734,0.184358,0.166028,0.154769,0.927171,0.982004
1,0.899457,0.509066,0.753608,0.724416,0.812415,0.897013,0.595255,0.000533,0.363735,0.997020,...,0.045035,0.954706,0.505121,0.214958,0.221650,0.372619,0.692197,0.348176,0.961506,0.486158
2,0.028659,0.392124,0.429605,0.980828,0.405905,0.771145,0.635967,0.139435,0.296747,0.133572,...,0.956643,0.776752,0.729609,0.912072,0.996737,0.280914,0.679510,0.996605,0.311694,0.625037
3,0.692550,0.473184,0.837675,0.449792,0.151652,0.596777,0.256367,0.301056,0.482237,0.697138,...,0.541746,0.643767,0.812091,0.606094,0.935603,0.405278,0.737227,0.984050,0.544086,0.506298
4,0.925183,0.453500,0.886566,0.056888,0.150133,0.091246,0.854046,0.541670,0.786867,0.646344,...,0.192954,0.276796,0.064321,0.347898,0.210216,0.463894,0.363406,0.331006,0.068624,0.453773

40?

In [120]:
((bdays<=1/365.25).sum(axis=1)>=2).mean()

0.00561

## Mage Duel!

In [157]:
me_mage_hit = pd.DataFrame(np.random.randint(1,4, size=(10,6)))
me_mage_hit.head()

   0  1  2  3  4  5
0  2  2  2  1  1  2
1  3  3  1  2  2  1
2  3  2  3  1  2  3
3  2  2  3  2  3  1
4  2  2  1  2  2  2

In [158]:
me_mage_life = pd.DataFrame(np.random.randint(1,4, size=(10,6)))
me_mage_life.head()

   0  1  2  3  4  5
0  2  3  1  1  3  2
1  2  1  1  3  3  2
2  2  2  1  2  2  2
3  2  2  2  1  1  3
4  3  2  3  1  2  1

In [161]:
me_mage_hit.sum(axis=1).sum()

128

In [145]:
you_mage_hit=pd.DataFrame(np.random.randint(1,6, size=(10,4)))
you_mage_hit.head()

   0  1  2  3
0  4  1  1  2
1  5  5  4  5
2  3  5  2  2
3  2  4  2  1
4  1  1  5  2

In [162]:
you_mage_life=pd.DataFrame(np.random.randint(1,6, size=(10,4)))
you_mage_life.head()

   0  1  2  3
0  3  2  5  3
1  1  5  3  5
2  1  2  2  1
3  3  5  3  5
4  5  3  1  5

In [167]:
lifes=you_mage_hit.sum(axis=1).sum()-me_mage_life.sum(axis=1).sum()
lifes.sum()

NameError: name 'you_mage_hit' is not defined